.livestream {
  flex: 1;
  width: 100%;
  padding-top: var(--aspect-ratio-standard);
  position: relative;
  border-radius: var(--border-radius);

  .media__thumb,
  iframe {
    overflow: hidden;
    border-radius: var(--border-radius);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  ~ .notice-message {
    margin-top: var(--spacing-m);
  }
}

.livestream__discussion {
  min-height: 0%;
  width: 100%;
  margin-top: var(--spacing-m);

  @media (min-width: $breakpoint-small) {
    margin: 0;
    width: var(--livestream-comments-width);
    height: calc(100vh - var(--header-height));
    position: fixed;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    border-right: none;

    .card__main-actions {
      padding-bottom: 0;
    }
  }
}

.livestream__comments-wrapper {
  height: calc(100% - var(--spacing-l) - var(--spacing-s));
  overflow-y: scroll;
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.livestream__comments-wrapper--with-height {
  height: 40vh;
}

.livestream__comments {
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--font-small);
}

.livestream__comment {
  margin-top: var(--spacing-s);
  display: flex;
  flex-wrap: wrap;

  .comment__body_container {
    margin-left: 0;
  }
}

.livestream__comment-author {
  font-weight: var(--font-weight-bold);
  color: #888;
}

.livestream__comment-author--streamer {
  color: var(--color-primary);
}

.livestream__comment-create {
  margin-top: var(--spacing-s);
}

.livestream__channel-link {
  margin-bottom: var(--spacing-xl);
  box-shadow: 0 0 0 rgba(246, 72, 83, 0.4);
  animation: livePulse 2s infinite;

  &:hover {
    cursor: pointer;
  }
}

@keyframes livePulse {
  0% {
    box-shadow: 0 0 0 0 rgba(246, 72, 83, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(246, 72, 83, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(246, 72, 83, 0);
  }
}

.livestream__publish-checkbox {
  margin: var(--spacing-l) 0;

  .checkbox,
  .radio {
    margin-top: var(--spacing-m);

    label {
      color: #444;
    }
  }
}

.livestream__creator-message {
  background-color: #fde68a;
  padding: var(--spacing-m);
  color: black;
  border-radius: var(--border-radius);

  h4 {
    font-weight: bold;
    font-size: var(--font-small);
    margin-bottom: var(--spacing-s);
  }
}

.livestream__embed-page {
  display: flex;

  .file-viewer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    iframe {
      max-height: none;
    }
  }
}

.livestream__embed-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;

  .livestream {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.livestream__embed-countdown {
  @extend .livestream__embed-wrapper;
  justify-content: center;
}

.livestream__embed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

.livestream__publish-intro {
  margin-top: var(--spacing-l);
}

.livestream__viewer-count {
  display: flex;
  align-items: center;

  .icon {
    margin-left: var(--spacing-xs);
  }
}
